.avatar-div {
	display: flex;
	align-items: center;
}

.avatar {
	text-align: center;
	vertical-align: center;
}

.container-div {
	width: 100%;
	margin: 0 auto 0 auto;
	padding: 0 1.25em 0 1.25em;
}

.footer {
	text-align: center;
}

.header-fixed {
	position: fixed;
	background: #ffffff;
	box-shadow: 0 2px 8px #f0f1f2;
	padding: 0;
	z-index: 1;
	width: 100%;
}

.header-div {
	display: inline-block;
	padding: 0 0 0 1em;
}

.header-a {
	padding: 0 0 0 2em;
}

.header-logo {
	display: inline-block;
	padding: 0 0 0 10px;
	padding-left: 10px;
}

.min-h-screen {
	min-height: 100vh;
}
