.min-h-screen {
	@apply {
		position: relative;
		background: #fff;
		min-height: 100vh;
	}
}

.header-fixed {
	@apply {
		position: fixed;
		background: #ffffff;
		box-shadow: 0 2px 8px #f0f1f2;
		padding: 0;
		z-index: 1;
		width: 100%;
	}
}

.header-logo {
	@apply {
		/* background: rgba(255, 255, 255, 0.2) */
		display: inline-block;
		padding: 0 0px;
		padding-left: 10px;
	}
}